<html>
	<head>
		<title> 
			Rapport de portes
		</title>
	</head>
	<body>
		<h1> Rapport Watchmen </h1>
		
		<p> ceci est le rapport des {{ heure }} derniers heures </p>
		
		<table>
			<tr>
				<td><b> Porte </b> &emsp;&ensp;&ensp;</td>
				<td><b>Nb. ouverte</b><t/td>
			</tr>
			<tr>
				<td>Porte 1</td>
				<td>{{porte_1}}</td>
			</tr>
                         <tr>
                                <td>Porte 2</td>
                                <td>{{porte_2}}</td>
                        </tr>
                        <tr>
                                <td>Porte 3</td>
                                <td>{{porte_3}}</td>
                        </tr>
                        <tr>
                                <td>Porte 4</td>
                                <td>{{porte_4}}</td>
                        </tr>
  		</table>
		<br>
		<a href="/"> Page d'acceuil</a>
	</body>
</html>
